.app-download{
    margin: auto auto;
    margin-top: 40px;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 500;
       box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.12),
    0 8px 20px rgba(0, 0, 0, 0.08);
     padding: 40px;
     width: 90%;
}

.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;

}

.app-download-platforms img{
    width: max(20vw, 120px);
    max-width:180px ;
    transition: 0.5s;
    cursor: pointer;
}

.app-download-platforms img:hover{
    transform: scale(1.05);
}