/* Wrapper */
.contact-wrapper {
  font-family: "Segoe UI", sans-serif;
  background: #f9fafb;
  padding-bottom: 80px;
}

/* Hero */
.contact-hero {
  background: tomato;
  color: white;
  padding: 80px 20px 120px;
  text-align: center;
}

.contact-hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.contact-hero p {
  font-size: 18px;
  opacity: 0.95;
}

.support-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.support-buttons a {
  background: white;
  color: #f97316;
  padding: 12px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s, box-shadow 0.3s;
}

.support-buttons a:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Card */
.contact-card {
  max-width: 1100px;
  margin: -70px auto 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  gap: 40px;
  padding: 50px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* Form */
.contact-form {
  flex: 1;
}

.contact-form h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 15px;
}

.input-group label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 0 6px;
  color: #6b7280;
  pointer-events: none;
  transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label,
.input-group textarea:focus + label,
.input-group textarea:valid + label,
.input-group select:focus + label,
.input-group select:valid + label {
  top: -8px;
  font-size: 12px;
  color: #f97316;
}

.contact-form button {
  width: 100%;
  background:  tomato;
  border: none;
  color: white;
  padding: 14px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
}

.contact-form button:hover {
  opacity: 0.9;
}

.privacy {
  font-size: 13px;
  color: #6b7280;
  margin-top: 10px;
}

/* Info */
.contact-info {
  flex: 1;
}

.contact-info h3 {
  margin-bottom: 15px;
  font-size: 24px;
}

.contact-info p {
  margin-bottom: 10px;
  color: #374151;
}

.info-box {
  margin-top: 25px;
  background: #fff7ed;
  padding: 15px;
  border-left: 4px solid #f97316;
  border-radius: 10px;
  color: #9a3412;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-card {
    flex-direction: column;
    padding: 30px;
  }

  .contact-hero h1 {
    font-size: 36px;
  }
}
