.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1{
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.explore-menu-text{
    margin-bottom: 20px;
    columns:#808080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 6px 0px;
    overflow: hidden;
    overflow-x: scroll;

}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 4.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;

}

.explore-menu-list-item p{
    margin-top: 8px;
    color: #747474;
    font-size: max(1.2vw, 16px);
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color:#e2e2e2 ;
    border: none;
}

.explore-menu-list-item img.active{
    border:2px solid tomato;
    padding: 1px;
}

@media(max-width:1050px){
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }

}