.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1{
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.explore-menu-text{
    margin-bottom: 20px;
    columns:#808080;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
   
    overflow: hidden;
    overflow-x: scroll;
    padding: 10px 15px;
     cursor: pointer;
 
  

}

.explore-menu-list-item.active{
  background-color:tomato;
  color:black;
  border-radius:5px;
  padding: 2px;
  display: flex;
  text

} */
 .explore-menu-list{
  display:flex;
  gap:20px;
   justify-content: space-between;
  align-items:center;
  text-align: center;
   
}

.explore-menu-list-item{
  position:relative;
  font-size:16px;
  font-weight:500;
  cursor:pointer;
  color:#444;
  padding:8px 0;
  transition:color 0.3s ease;
}

/* Hover effect */
.explore-menu-list-item:hover{
  color:#ff6347;
}

/* underline base */
.explore-menu-list-item::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-4px;
  width:0%;
  height:3px;
  background:linear-gradient(90deg,#ff6347,#ff9966);
  border-radius:5px;
  transition:width 0.3s ease;
}

/* active underline */
.explore-menu-list-item.active::after{
  width:100%;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 4.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;

}

.explore-menu-list-item p{
    margin-top: 8px;
    color: #747474;
    font-size: max(1.2vw, 16px);
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color:#e2e2e2 ;
    border: none;
}

.explore-menu-list-item img.active{
    border:2px solid tomato;
    padding: 1px;
}

@media(max-width:1050px){
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }

}