.header{
    height: 30vw;
    margin: 4px auto;
    background-size: contain;
    position: relative;
    width: 100%;;
    background-color: tomato;
    border-radius: 16px;

     background-image: url('/burger123.png');
  background-repeat: no-repeat;
  background-position:right center; 
  background-size:contain;         
}

.header-contents{
      
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    color:white;
    animation: fadeIn 3s;

}

.header-contents h2{
    font-weight: 400;
   
    font-size: max(3.5vw, 18px);
}

.header-contents h3{
    font-weight: 400;
   
    font-size: max(2vw, 14px);
}

.header-contents p{
    font-size: 1vw;
    
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media(max-width:1050px){
   
    
    .header-contents{
        max-width: 45%;
    }
}


@media(max-width:750px){
    .header{
        height:45vw
    }
    .header-contents{
        max-width: 60%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
        
    
}