.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  color: tomato;
   white-space: nowrap; 
  
  transition: color 0.3s ease;
  font-family: sans-serif;
}

.logo span {
  color: tomato;
  font-weight: 700;
  position: relative;
}

.logo span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #ff4c24;
  left: 0;
  bottom: -6px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right;
}

.logo:hover span::after {
  transform: scaleX(1);
  transform-origin: left;
}




.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size:18px;
     border-bottom: 2px solid transparent;
}

.navbar-right{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.navbar button {
    display: flex;           /* make button a flex container */
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    padding: 4px 16px;
    border-radius: 50px;
    font-size: 16px;
    border: 2px solid #49557e;
    background: whitesmoke;
    cursor: pointer;

}
.navbar button:hover{
    background-color: tomato;
    color: whitesmoke;
}

.navbar .active{
    padding-bottom: 1px;
    border-bottom: 2px solid  #49557e;
}

.navbar li{
    cursor: pointer;
}

.navbar-serach-icon{
    position:relative;
}

.navbar-serach-icon .dot{
    position: absolute;
    min-width:10px ;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
@media(max-width:1050px){
    .navbar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right{
        gap:30px
    }

    .navbar-right img{
        width: 22px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }
}


@media(max-width:900px){
    .navbar .logo{
        width: 120px;
    }

    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right{
        gap:20px
    }

    .navbar-right img{
        width: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}



@media(max-width:750px){
   
    .navbar-menu{
        display: none;
    }
    .navbar .logo{
        font-size: 22px;
         width: 33.33%; 

    }
    .navbar-right{
        gap:10px
    }
     .navbar-right img{
        width: 18px;
    }
     .navbar-right button{
        /* padding: 1px 8px; */
        font-size: 14px;
        padding-bottom: 2px;
        padding-top: 1px;
        padding-left: 6px;
        padding-right: 6px;
    

       
    }
        
    .logo span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #ff4c24;
    left: 0;
    bottom: -6px;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: right;
    }


}
