.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 40px;

}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left, .footer-content-right, .footer-content-center{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 20px;
}

.footer-content-left h2, .footer-content-center h2, .footer-content-right h2{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.footer-content-center li, .footer-content-left li, .footer-content-right li{
 list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-social-icons{
    margin-right: 15px;
    display: flex;
    gap: 10px;

    
}

.footer-social-icons img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: grey;
    border: none;
}

@media(max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}


/* Subscription Container */
.subscription-container {
  max-width: 400px;
  margin: 0 auto;
}



.subscription-container p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #d1d5db; /* light gray */
}

/* Form */
.subscription-form {
  display: flex;
  flex-direction: column; /* stack on mobile */
  gap: 3px;
}

/* Input */
.subscription-form input[type="email"] {
  padding: 4px 12px;
  border-radius: 50px 50px 50px 50px; /* pill shape */
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  flex: 1;
}

/* Button */
.subscription-form button {
  padding: 6px 10px;
  border-radius: 50px;
  border: none;
  background-color: tomato; /* red */
  color: white;
  
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Button hover effect */
.subscription-form button:hover {
  background-color: #dc2626; /* darker red */
}

/* Responsive: Desktop view */
@media (min-width: 500px) {
  .subscription-form {
    flex-direction: row; /* inline input + button */
  }

  .subscription-form input[type="email"] {
    border-radius: 50px 0 0 50px; /* left side rounded */
  }

  .subscription-form button {
    border-radius: 0 50px 50px 0; /* right side rounded */
  }
}