.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
   transition: all 0.3s ease;
   cursor: pointer;
}
.food-item:hover {
  transform: translateY(-6px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.12);
}

.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 20px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.food-item-name-rating p{
    font-size: 20px;
    font-weight: 600;
    padding-top: 2px;
}

.food-item-name-rating img{
    width: 70px;
}
.food-item-old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
  margin-left: 8px;
}

.food-item-desc{
    font-size: 12px;
    color: #676767;

}

.food-item-price{
    color: rgb(233, 76, 48);
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}